{% extends "base.html" %}
{% block display %}


	<div class="container mx-auto pt-12 min-h-screen">
		<div class="col-span-2 flex flex-col gap-5" >
			<div class="p-12 bg-base-200 w-full h-42 rounded-xl">
				<p class='text-5xl mb-4'>{{ user.selected_club.name }}</p>

				<p class='text-xl'> {{user.selected_club.users.count}} Members</p>
			</div>

			<div role="tablist" class="bg-base-300 rounded-x tabs tabs-border mb-5">
				<a role="tab" class="text-lg tab" hx-get="{% url 'movies-tab' %}" hx-target="#tab-content" onclick="setActiveTab(this)">Past Movies</a>
				<a role="tab" class="text-lg tab tab-active" hx-get="{% url 'vote-tab' %}" hx-target="#tab-content" onclick="setActiveTab(this)">Voting</a>
				{% if user.selected_club.owner.pk == user.pk %}
					<a role="tab" class="text-lg tab" hx-get="{% url 'schedule-tab' %}" hx-target="#tab-content" onclick="setActiveTab(this)">Schedule</a>
					<a role="tab" class="text-lg tab" hx-get="{% url 'manage-tab' %}" hx-target="#tab-content" onclick="setActiveTab(this)">Manage your club</a>
				{% endif %}
			</div>

			<div id="tab-content">
				{% include "components/vote-tab.html" %}
			</div>

			<script>
			 function setActiveTab(tab) {
				 // Remove 'tab-active' class from all tabs
				 const tabs = document.querySelectorAll('.tab');
				 tabs.forEach(t => {
					 t.classList.remove('tab-active');
				 });

				 // Add 'tab-active' class to the clicked tab
				 tab.classList.add('tab-active');
			 }
			</script>

		</div>

	</div>



{% endblock %}
