{% extends "base.html" %}
{% block display %}


	<div class="container mx-auto pt-12 grid grid-cols-3 gap-12">
		<div class="col-span-2 flex flex-col gap-5" >
			<h1 class=" font-bold text-5xl mb-4">You Next Movie Night</h1>
			<div class="bg-base-300 w-full items-center justify-center flex h-42">
				<div class="flex gap-5">
					<div>
						<span class="countdown font-mono text-5xl">
							<span style="--value:15;" aria-live="polite" aria-label="15">15</span>
						</span>
						days
					</div>
					<div>
						<span class="countdown font-mono text-5xl">
							<span style="--value:10;" aria-live="polite" aria-label="10">10</span>
						</span>
						hours
					</div>
					<div>
						<span class="countdown font-mono text-5xl">
							<span style="--value:24;" aria-live="polite" aria-label="24">24</span>
						</span>
						min
					</div>
					<div>
						<span class="countdown font-mono text-5xl">
							<span style="--value:59;" aria-live="polite" aria-label="59">59</span>
						</span>
						sec
					</div>
				</div>
			</div>
			<p class="text-2xl font-semibold" >Polls</p>
			<div class="bg-base-300 w-full flex flex-row gap-12" >
				{% include "components/movies.html" with movies=user.movie_list.all %}
			</div>

		</div>
		<div class="bg-base-300">


		</div>

	</div>



{% endblock %}
