
{% extends 'base.html' %}

{% block display %}
	<div class="flex flex-row w-full relative gap-12 " >
		<img src="{{movie.poster}}" alt="Movie poster" class="h-screen"/>
		<div class="grid grid-cols-2 absolute left-0 w-full h-screen bg-gradient-to-l from-base-200 via-base-300 to-transparent">
			<div>
			</div>
			<div class=" flex flex-col  gap-3 p-12" >
				<h1 class="text-4xl font-bold" >{{movie.title}}</h1>
				<div class="grid grid-cols-2" >
					<div class="flex flex-col gap-2" >
						<div class="grid grid-cols-3">
							<p>Director:</p>
							<div class="flex flex-col gap-2 col-span-2">
								<!--
									 {% for director in movie.directors.all %}
									 <a href="/movie/director/{{director.name}}" class="link " >{{director.name}}</a>
									 {% endfor %}
								-->
								<a href="/director/{{movie.director.name}}" class="link " >{{movie.director.name}}</a>

							</div>

						</div>
						<div class="grid grid-cols-3">
							<p>Writer:</p>
							<div class="flex flex-col gap-2 col-span-2">
								{% for writer in movie.writers.all %}
									<a href="/" class="link " >{{writer.name}}</a>
								{% endfor %}
							</div>
						</div>
						<div class="flex flex-row gap-2">
							{% for category in movie.categories.all %}
								<a href="/account/ratings?category={{category.value}}" class="link">{{category.value}},</a>
							{% endfor %}
						</div>
					</div>
					<div>
						<div class="mb-2">
							<p>Average Rating</p>
							<div class="rating">
								{% for star in "1234567890" %}
									{% if movie.get_average_rating %}
										{% include 'components/star.html' with rating=movie.get_average_rating.avg_total index=forloop.counter %}
									{% endif %}
								{% endfor %}
							</div>
						</div>
						<p>{{movie.release}}</p>

					</div>
				</div>
				<div class="divider"></div>
				<p>{{movie.plot}}</p>
				<form
					class="grid grid-cols-2 gap-4"
					hx-post="{% url "create-or-update-rating" movie.pk %}"
					hx-target="body"
				>
					<div>
						<label for="look" class="label">
							<span class="label-text">Cinematic Look</span>
						</label>
						<input type="number" id="look" step="0.01" value="{{rating.look}}" name="look" placeholder="Cinematic Look" class="input input-bordered w-full max-w-xs" />
					</div>

					<div>
						<label for="script" class="label">
							<span class="label-text">Script</span>
						</label>
						<input type="number" id="script" step="0.01" value="{{rating.script}}" name="script" placeholder="Script" class="input input-bordered w-full max-w-xs" />
					</div>

					<div>
						<label for="acting" class="label">
							<span class="label-text">Acting</span>
						</label>
						<input type="number" id="acting" step="0.01" value="{{rating.acting}}" name="acting" placeholder="Acting" class="input input-bordered w-full max-w-xs" />
					</div>

					<div>
						<label for="soundtrack" class="label">
							<span class="label-text">Soundtrack</span>
						</label>
						<input type="number" id="soundtrack" step="0.01" value="{{rating.soundtrack}}" name="soundtrack" placeholder="Soundtrack" class="input input-bordered w-full max-w-xs" />
					</div>

					<div>
						<label for="bonus" class="label">
							<span class="label-text">Bonus Score</span>
						</label>
						<input type="number" id="bonus" step="0.01" value="{{rating.bonus}}" name="bonus" placeholder="Bonus Score" class="input input-bordered w-full max-w-xs" />
					</div>

					<div>
						<label for="overalscore" class="label">
							<span class="label-text">Overall Score</span>
						</label>
						<input type="number" id="overalscore" step="0.01" value="{{rating.overalscore}}" name="overalscore" placeholder="Overall Score" class="input input-bordered w-full max-w-xs" />
					</div>

					<div class="col-span-2">
						<label for="description" class="label">
							<span class="label-text">Description</span>
						</label>
						<textarea id="description" class="textarea textarea-bordered w-full" name="description" rows="5" placeholder="Description">{{rating.description}}</textarea>
					</div>

					<div class="col-span-2">
						<input type="submit" value="Submit" class="btn btn-primary w-full" />
					</div>
				</form>

			</div>
		</div>
	</div>
{% endblock %}
