{% extends "base.html" %}
{% block display %}

	<!-- You can open the modal using ID.showModal() method -->
	<dialog id="my_modal_3" class="modal">
		<div class="modal-box">
			<form method="dialog">
				<button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
			</form>
			<form hx-post="{% url "club" %}" >

				<input type="text" name="name" value="" placeholder="club name" class="input input-borderd"/>
				<input type="submit" value="Create" class="btn btn-accent" />
			</form>
		</div>
	</dialog>

	<div class="container mx-auto pt-12 grid grid-cols-1 md:grid-cols-2 gap-12">
		<div class="flex flex-col items-center bg-base-200" >
			<div class="avatar">
				<div class="w-24 rounded-full">
					<img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
				</div>
			</div>
			<p class="text-xl font-bold mt-2">{{profile.username}}</p>
			<p class="text-xl font-bold mt-2">{{profile.email}}</p>
			<p class="text-sm mt-2">Joined: {{profile.date_joined}}</p>
			<ul class="mt-2 bg-base-100 p-4 rounded-lg flex flex-col items-center" >
				{% for club in profile.clubs.all %}
					<li>
						<a href="">{{club.name}}</a>
					</li>
				{% endfor %}
				{% if profile.pk == user.pk %}
				<button onclick="my_modal_3.showModal()" class="btn btn-accent" >
					Create new club
				</button>
				{% endif %}


			</ul>
		</div>
		<div class="">
			<h2 class="text-3xl font-bold mb-4">{% if profile.pk == user.pk %} My {% else %} {{profile.username}}'s {% endif %} Movies</h2>

			<ul class="list bg-neutral rounded-box shadow-md h-96 overflow-auto">
				<!--
					 <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Most played songs this week</li>
				-->
				{% for movie in profile.movie_list.all %}
				<li class="list-row" >
						<div><img class="size-25 " src="{{movie.poster}}"/></div>
						<div>
							<a class="link " href="{% url 'movie' movie.imdb_id %}">
								{{movie.title}}</a>
							<div class="text-xs uppercase font-semibold opacity-60">
								{% if movie.director %}
								<a href="{% url 'director' movie.director.name %}" class="link">{{movie.director}}</a>
								{% endif %}
							</div>
						</div>

					<button hx-post="{% url "add-movie-to-user" movie.pk %}" hx-confirm="Are you sure you want to remove {{movie.title}} from your list?" class="btn btn-square btn-ghost">
							<svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="pink" stroke="pink"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path></g></svg>
						</button>

				</li>
				{% endfor %}


			</ul>
		</div>
		<div class="col-span-2 w-full min-h-72 mb-4 " >
			<h2 class="text-2xl font-semibold">
				{% if profile.pk == user.pk %} My {% else %} {{profile.username}}'s {% endif %} Reviews
			</h2>
			<table class="table table-zebra w-1/2">
			<!-- head -->
			<thead>
				<tr>
					<th></th>
					<th>Poster</th>
					<th>Movie title</th>
					<th>Movie Director</th>
					<th>Average Look</th>
					<th>Average Script</th>
					<th>Average Acting</th>
					<th>Average Soundtrack</th>
					<th>Average Overalscore</th>
					<th>Average Bonus</th>
					<th>Avrage Sum</th>
				</tr>
			</thead>
			<tbody>
				{% include "components/ratings_rows.html" with ratings=profile.ratings.all %}
			</tbody>
			</table>
		</div>
	</div>

{% endblock %}
