<div hx-get="{% url 'manage-tab' %}" hx-swap="outerHTML" hx-trigger="reload" class="reload">
	<div class="overflow-x-auto">
		<table class="table">
			<!-- head -->
			<thead>
				<tr>
					<th></th>
					<th>username</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				{% for member in user.selected_club.users.all %}
				<tr class="hover:bg-base-300">
					<th>{{forloop.counter}}</th>
					<td>
						<a href="{% url 'profile' member.username  %}" class="link">{{member.username}}</a>
					</td>
					<td>
						<a href="{% url 'profile' member.username  %}" class="link">{{member.username}}</a>
					</td>

				</tr>
				{% endfor %}
				{% if user.pk == user.selected_club.owner.pk %}
				<button hx-get="{% url 'add-member-modal' %}" hx-target="body" hx-swap="afterbegin" class='btn btn-accent'>
					Add new member
				</button>
				{% endif %}
			</tbody>
		</table>
	</div>
</div>
