<div class="flex flex-col gap-2">

{% for movie in user.selected_club.past_movies.all %}
	<div class="bg-base-200 p-3 rounded-xl flex flex-row items-center gap-12  " >
		<img src="{{movie.poster}}" alt="Poster" class="w-18 mb-3" />
		<div class="h-full w-full flex flex-col justify-between">
			<a href="{% url 'movie' movie.imdb_id %}" class="link text-xl font-semibold mb-2">{{movie.title}}</a>
			<p class="text-sm mb-2">{{movie.year}}</p>
			<div class="rating">
				{% for star in "1234567890" %}
					{% if movie.get_average_rating %}
						{% include 'components/star.html' with rating=movie.get_average_rating.avg_total index=forloop.counter %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endfor %}
</div>
