{% load static %}
<nav class="p-5 grid grid-cols-2 md:grid-cols-3 absolute top-0 h-20 bg-base-200 w-full">
    <a href="{% url 'dashboard' %}" class="hidden md:flex flex-row items-center gap-2">
        <img src="{% static "logo.png" %}" alt="" />
        <p class='font-bold text-3xl'>MOVIECLUB</p>
        <p class="font-bold text-3xl text-accent">HUB</p>
    </a>

    <div hx-boost="true" class="flex flex-row items-center justify-center gap-2 md:gap-5" id="nav-links">
        {% if user.is_authenticated %}
        <a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a>
        <a href="{% url 'clubs' %}" class="nav-link">Club</a>
        <a href="{% url 'movies' %}" class="nav-link">Movies</a>
        <a href="{% url 'profile' %}" class="nav-link">Profile</a>
        {% endif %}
    </div>

    <div class="flex justify-center items-center">
        {% if user.is_authenticated %}

            <form hx-push-url="true" hx-on::after-swap="startClock()" hx-post="{% url "set-selected-club" %}" hx-trigger="input" hx-target="body">
            <select name="selected_club" class="select">
                <option disabled selected>
                    Select club to be active
                </option>
                {% for club in user.clubs.all %}
                    {% if club.pk == user.selected_club.pk %}
                        <option value="{{club.pk}}">
                            {{club}}
                        </option>
                    {% else %}
                        <option value="{{club.pk}}">
                            {{club}}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type="text" name="current_path" class="hidden" value="{{request.path}}" />
        </form>
        {% endif %}
    </div>

    <script>
	 document.addEventListener("DOMContentLoaded", function() {
         // Get the current URL path
         const currentPath = window.location.pathname;

         // Get all navigation links
         const navLinks = document.querySelectorAll('.nav-link');

         // Loop through the links and add the 'active' class to the current one
         navLinks.forEach(link => {
             if (link.getAttribute('href') === currentPath) {
                 link.classList.add('link-accent');
             }
         });
     });
     document.addEventListener("htmx:afterSwap", function(event) {
         // Get the current URL path
         const currentPath = window.location.pathname;

         // Get all navigation links
         const navLinks = document.querySelectorAll('.nav-link');

         // Loop through the links and add the 'active' class to the current one
         navLinks.forEach(link => {
             if (link.getAttribute('href') === currentPath) {
                 link.classList.add('link-accent');
             } else {
                 link.classList.remove('link-accent');
             }
         });
     });
    </script>
</nav>
