{% load static %}
<nav class="p-5 grid grid-cols-3">
	<div class="flex flex-row items-center gap-2">
		<img src="{% static "logo.png" %}" alt="" />
		<p class='font-bold text-3xl'>MOVIECLUB</p>
		<p class="font-bold text-3xl text-accent" >HUB</p>
	</div>

	<div hx-boost="true" class="flex flex-row items-center justify-center gap-5" >
		<a href="/">Dashboard</a>
		<a href="/clubs">Club</a>
		<a href="/movies">Movies</a>
		<a href="#">Schedule</a>
		<a href="#">Profile</a>
	</div>

	<div>
	</div>

</nav>
